.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .social-media-button-container {
  zoom: 1;
  text-align: center;
  /*
	&:after {
		content:"";
		display:inline-block;
		width:100%;
	}
	*/
}
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 780px) {
  .so-widget-sow-social-media-buttons-flat-6f4e69510c4b .social-media-button-container {
    text-align: left;
  }
}
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .sow-social-media-button-linkedin-0 {
  color: #ffffff !important;
  background-color: #444444;
  border: 1px solid #444444;
}
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .sow-social-media-button-linkedin-0.ow-button-hover:focus,
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .sow-social-media-button-linkedin-0.ow-button-hover:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .sow-social-media-button-linkedin-0:hover {
  border-bottom: 1px solid #444444;
}
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .sow-social-media-button-linkedin-0.ow-button-hover:hover {
  background-color: #444444;
  border-color: #444444;
}
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .sow-social-media-button-youtube-0 {
  color: #ffffff !important;
  background-color: #444444;
  border: 1px solid #444444;
}
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .sow-social-media-button-youtube-0.ow-button-hover:focus,
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .sow-social-media-button-youtube-0.ow-button-hover:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .sow-social-media-button-youtube-0:hover {
  border-bottom: 1px solid #444444;
}
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .sow-social-media-button-youtube-0.ow-button-hover:hover {
  background-color: #444444;
  border-color: #444444;
}
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .sow-social-media-button-envelope-0 {
  color: #ffffff !important;
  background-color: #444444;
  border: 1px solid #444444;
}
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .sow-social-media-button-envelope-0.ow-button-hover:focus,
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .sow-social-media-button-envelope-0.ow-button-hover:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .sow-social-media-button-envelope-0:hover {
  border-bottom: 1px solid #444444;
}
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .sow-social-media-button-envelope-0.ow-button-hover:hover {
  background-color: #444444;
  border-color: #444444;
}
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .sow-social-media-button {
  display: inline-block;
  font-size: 2em;
  line-height: 1em;
  margin: 0.1em 0.05em 0.1em 0.05em;
  padding: 0.5em 0;
  width: 2em;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
}
.so-widget-sow-social-media-buttons-flat-6f4e69510c4b .sow-social-media-button .sow-icon-fontawesome {
  display: inline-block;
  height: 1em;
}